 body {
         margin: auto;
         max-width: 900px;
         }
         .sidebar {
         grid-area: sidebar;
         }
         .sidebar2 {
         grid-area: sidebar2;
         }
         .content {
         grid-area: content;
         }
         .header {
         grid-area: header;
         }
         .footer {
         grid-area: footer;
         }
         .wrapper {
         background-color: #fff;
         color: #444;
         }
         .wrapper {
         display: grid;
         grid-template-rows: 150% auto 100px;
         grid-gap: 1em;
         grid-template-areas:
         "header"
         "sidebar"
         "content"
         "sidebar2"
         "footer"
         }
         .flex-container {
         display: flex;
         flex-direction: column;
         }
         .flex-container > div {
         background-color: #f1f1f1;
         margin: 5px;
         text-align: left;
         font-size: 100%;
         }
         @media only screen and (min-width: 0px)  {
         .wrapper {
         grid-gap: 1%;
         grid-template-columns: auto;
         grid-template-rows: 150px auto auto auto 100px;
         grid-template-areas:
         "header"
         "sidebar"
         "content"
         "sidebar2"
         "footer";
         }
         }
         @media only screen and (min-width: 500px)  {
         .wrapper {
         grid-gap: 1%;
         grid-template-columns: 40% auto;
         grid-template-rows: 150px auto auto 100px;
         grid-template-areas:
         "header   header"
         "sidebar  content"
         "sidebar2 sidebar2"
         "footer   footer";
         }
         }
         @media only screen and (min-width: 600px)   {
         .wrapper {
         grid-gap: 1%;
         grid-template-columns: 30% auto 15%;
         grid-template-rows: 150px auto 100px;
         grid-template-areas:
         "header  header  header"
         "sidebar content sidebar2"
         "footer  footer  footer";
         }
         }
         .box {
         border-radius: 5px;
         padding: 5px;
         }
         .header,
         .footer {
         background-color: #696969;
         font-family: sans-serif;
         }
         .footer {
         font-size: 80%;
         text-align: center;
         color: white;
         }
         .sidebar2 {
         color: #444;
         font-size: 90%;
         font-family: cursive;
         }
         #Author {
         position: relative;
         top: 25%;
         left: 2%;
         font-size: 250%;
         color: white;
         min-width: 30%;
         }
         #AuthorName, h3, a {
         color: #9ACD32;
         }
         /* Style the top navigation bar */
         .topnav {
         overflow: hidden;
         background-color: #696969;
         }
         /* Style the topnav links */
         .topnav a {
         float: left;
         display: block;
         color: #f2f2f2;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         }
         /* Change color on hover */
         .topnav a:hover {
         background-color: #ccc;
         color: black;
         }
         /*Social button styling*/
         .fa {
         padding: 10px;
         margin: 5px;
         font-size: 20px;
         width: 20px;
         text-align: center;
         text-decoration: none;
         border-radius: 50%;
         }
         .fa:hover {
         opacity: 0.5;
         }
         .fa-facebook {
         background: #3B5998;
         color: white;
         }
         .fa-google {
         background: #dd4b39;
         color: white;
         }
         .fa-linkedin {
         background: #007bb5;
         color: white;
         }
         .fa-skype {
         background: #00aff0;
         color: white;
         }